* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F0F0F;
    font-family: 'Inter', sans-serif;
}

.layout {
    background-image: url(./images/beautiful.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    
    
}

.layout-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    font-weight: 500;
    max-width: 100%;
    position: absolute;
    left: 26px;
    right: 26px;
  
}

.layout-principal a {
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
}

.menu {
    margin-left: 22px;
    font-weight: 500;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.return {
    margin-right: 22px;
    display: flex;
    align-items: center;
}


.vector-1 {
    max-height: calc(100vh - 50px);
    margin: 0 auto;
    align-self: flex-end;

}

 